/target/
/.classpath
/.project
/.settings
/mcm.sqlite
/mtg.card.manager/src/main/webapp
/src/main/webapp
/ui/front-app/src/assets/static/images/cards
/mcm.sqlite-shm
/mcm.sqlite-wal
/AllPrintings.sqlite
/AllPrintings.sqlite-shm
/AllPrintings.sqlite-wal
/prod/mcm.sqlite
