<p-dialog [(visible)]="show" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="onHide()">
    <ng-template pTemplate="header">
        <div>
            <span class="text-xl font-bold">{{card.number}} - {{getCardName(card)}}</span>
        </div>
    </ng-template>
    <div class="flex">
        <img src="{{assetBaseUrl}}{{card.cardImagery.urlNormal}}" alt="{{getCardName(card)}}" title="{{getCardName(card)}}" width="350px">
        <div class="ml-5 text-left">
            <h3>{{getCardType(card)}}</h3>
            <p *ngFor="let text of getCardText(card)">{{text}}</p>
            <p class="font-italic" *ngFor="let flavorText of getCardFlavorText(card)">{{flavorText}}</p>
            <p>
                <a href="https://www.cardmarket.com/fr/Magic/Products/Singles/{{getAsSlug(set.name)}}/{{getAsSlug(card.name)}}?sellerCountry=12&language=2&minCondition=2" target="_blank">Lien vers CardMarket</a>
            </p>
            <h3>Derniers prix</h3>
            <p *ngIf="card.cardPrice?.valEur"><b>Normal : </b>{{card.cardPrice.valEur}} €</p>
            <p *ngIf="!card.cardPrice?.valEur && card.cardPrice?.valUsd"><b>Normal : </b>{{card.cardPrice.valUsd}} $</p>
            <p *ngIf="card.cardPrice?.valEurFoil"><b>Foil : </b>{{card.cardPrice.valEurFoil}} €</p>
            <p *ngIf="!card.cardPrice?.valEurFoil && card.cardPrice?.valUsdFoil"><b>Foil : </b>{{card.cardPrice.valUsdFoil}} $</p>
        </div>
    </div>
</p-dialog>