<div class="text-center">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <div *ngIf="!loading">
        <h2><i class="ss ss-{{userSet.set.code.toLowerCase()}}" title="{{userSet.set.code}}"></i> {{userSet.set.code}} - {{userSet.set.name}} ({{userSet.set.releaseDate | date:'dd/MM/yyyy'}})</h2>
        <div class="card flex justify-content-center mb-3">
            <p-selectButton [options]="displayOptions" [(ngModel)]="selectedDisplayOption" optionLabel="icon">
                <ng-template let-item pTemplate>
                    <i [class]="item.icon"></i>
                </ng-template>
            </p-selectButton>
        </div>
        <div class="grid">
            <div class="col-12 mb-2">
                <p-progressBar [value]="getProgressValue()"></p-progressBar>
            </div>
        </div>
        <div *ngIf="selectedDisplayOption.component === 'list'">
            <app-sets-content-list [cards]="userSet.cards"></app-sets-content-list>
        </div>
        <div *ngIf="selectedDisplayOption.component === 'grid'">
            <app-sets-content-grid [cards]="userSet.cards"></app-sets-content-grid>
        </div>
    </div>
</div>
